body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-font-color);
}

#menu,
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

h1 {
  font-family: var(--title-font);
  font-size: 10vw;
  text-shadow: var(--title-text-shadow);
}

section {
  width: 90%;
  min-width: 200px;
  max-width: 750px;
  z-index: 1;
  padding: 2%;
  margin-bottom: 2%;
  background-color: var(--section-bg-color);
  border: var(--section-border);
  text-align: var(--text-align);
}

h2 {
  font-size: 3rem;
  text-align: var(--text-align);
  text-decoration: underline;
}
h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  opacity: var(--ingredient-opacity);
  margin: 0;
}

.food_container {
  margin-bottom: 7%;
}

mark {
  background-color: var(--mark-bg-color);
}

#theme_selector {
  cursor: pointer;
  align-self: end;
  margin: 20px;
  background: var(--button-bg-color);
  border: var(--button-border);
  padding: 8px;
  color: var(--main-font-color);
  font-family: var(--main-font);
}

#top_menu {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
